@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';

.bottomPanel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

  &__element {
    background-color: $white;
    border: 1px solid $green;
    border-radius: 10px;
    padding: 7px;
    color: $green;
    font-size: 30px;
    font-weight: 600;

    @include tablet {
      font-size: 15px;
    }
  }

  &__element_active {
    background-color: $green;
    padding: 7px;
    border-radius: 10px;
    color: $white;
    font-size: 30px;
    font-weight: 600;

    @include tablet {
      font-size: 15px;
    }
  }

  &__element_invisible {
    visibility: hidden;
    padding: 7px;
    font-size: 30px;
    font-weight: 600;

    @include tablet {
      font-size: 15px;
    }
  }
}
