.bottomPanel {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 10px;

  &__element {
    background-color: #51c48c;
    padding: 7px;
    color: white;
    font-family: Akrobat-Thin, sans-serif;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
  }

  &__element_invisible {
    visibility: hidden;
    padding: 7px;
    font-family: Akrobat-Thin, sans-serif;
    font-size: 30px;
    font-weight: 600;
  }
}
