@import 'src/styles/mixins.scss';

.formGroup {
  display: block;
  width: 1000px;

  &__taskInput {
    width: 100%;
    height: 70px;
    padding: 0 20px 0 70px;
    font-family: Akrobat-Thin, sans-serif;
    font-size: 40px;
    font-weight: 400;
    word-break: break-all;
    border: 2px solid #51c48c;
    border-radius: 10px;

    @include tablet {
      height: 40px;
      padding-left: 50px;
      font-size: 20px;
    }
  }
}

.checkAllTask {
  position: relative;
  top: 40px;
  left: 30px;
  text-align: center;

  &__customButton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &__arrowButton {
    display: inline-block;
    width: 15px;
    height: 15px;
    pointer-events: none;
    border: solid 2px black;
    border-top: none;
    border-left: none;
    transition: transform 200ms ease-in;
    transform: rotate(45deg);

    @include tablet {
      width: 12px;
      height: 12px;
    }
  }

  &__customButton:hover + &__arrowButton {
    transform: rotate(45deg) scale(1.2);
  }

  &__customButton:checked + &__arrowButton {
    border: solid 2px black;
    border-top: none;
    border-left: none;
  }
}
