.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  display: none; /* Скрываем стандартный чекбокс */
}

.block {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 2px solid #007bff;
  border-radius: 4px;
}

.checkbox:checked + .block {
  background-color: #007bff;
}

.checkbox:checked + .block::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
